
@{
    ViewBag.Title = "PayFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Failed Because You Don't Have Any Products In Your Cart</h2>

<p><a href="@Url.Action("Index", "Home")">Continue shopping</a></p>

